:root {
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  color: rgba(33, 33, 33, 1);
  font-family: Roboto, sans-serif;
}

/*========================================LOGO========================================*/
.top-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000;
}
.top-logo .multicolortext {
  color: var(--accent-color);
}

/* ==============================SAIT NAV==================================================*/
.site-nav {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.site-nav:hover,
:focus {
  color: var(--accent-color);
}

.site-nav-studio {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.site-nav-studio:hover,
:focus {
  color: #000;
}
/*=================================/SAIT NAV=================================== */

/*=================================EMAIL============================================*/
.auth-nav-email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.auth-nav-email:hover,
:focus {
  color: #000000;
}
/*================================/EMAIL=========================================*/

/* ===============================PHONE CONTACT=================================*/
.auth-nav-phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  color: #757575;
}
.auth-nav-phone:hover,
:focus {
  color: var(--accent-color);
}
/*=============================/PHONE CONTACT===============================*/

/*=============================HERO TITLE===========================================*/

.hero-title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.hero-conteiner {
  background-color: #2f303a;
}
/*================================/HERO TITLE========================================== */

/*================================HERO BUTTON===========================================*/

.hero-button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0px;
  letter-spacing: 0.06em;
}
.hero-button:hover,
:focus {
  background-color: #188ce8;
}
/*=============================/HERO BUTTON=========================================== */

/*=============================section-attention (внимание к деталям...)==========================*/
.section-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
}

.description-title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*==============================IMAGES(чем мы занимаемся)================================================ */
.description {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #212121;
}
.images {
  background-color: #e5e5e5;
}

/*================================TEAM(наша команда)=============================================== */

.team {
  background-color: #f5f4fa;
}

.conteiner-team {
  background-color: #ffffff;
}

.description-team {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #212121;
}
.name-team {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}
.specialist-team {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}

/*===================================LOGO====================================*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #ffffff;
}
.logo .multicolortext {
  color: var(--accent-color);
}

/*==================================== ADDRESS======================================*/
.conteiner-address {
  background-color: #2f303a;
}
.address-info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}
.email-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.phone-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* ==============================PORTFOLIO========================================*/
/*===============================PAGE 2============================================*/

/*=============================TOP-LOGO==========================================
=============== назви класів, як в лого на 1 сторінці============================*/

.top-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000;
}
.top-logo .multicolortext {
  color: var(--accent-color);
}

/*================================/TOP LOGO=======================================*/

/*================================SAIT NAV=======================================
====================назви класів, як в сайт нав на 1 сторінці=======================*/
.background-color-nav {
  background-color: #ffffff;
}

.site-nav {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.site-nav:hover,
:focus {
  color: var(--accent-color);
}

.site-nav-portfolio {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.site-nav-portfolio:hover,
:focus {
  color: #000;
}
/*=================================portfolio-nav EMAIL========================================*/
.portfolio-nav-email {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: rgba(117, 117, 117, 1);
}

.portfolio-nav-email:hover,
:focus {
  color: var(--accent-color);
}

.portfolio-nav-phone {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: rgba(117, 117, 117, 1);
}

.portfolio-nav-phone:hover,
:focus {
  color: var(--accent-color);
}

/*========================BUTTON PORTFOLIO============================================*/
.top-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-color);
}

.next-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  color: #212121;
  background-color: #f5f4fa;
}

.next-button:hover,
:focus {
  background-color: var(--accent-color);
}

/*============================/BUTTON PORTFOLIO=====================================*/

/*==========================IMAGES PORTFOLIO 9images=================================*/

.pages-two {
  background-color: #ffffff;
}

.conteiner-color {
  background-color: #eeeeee;
}

.title-portfolio {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.sabsection-portfolio {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*==============================/IMAGES PORTFOLIO ====================================*/

/*==============================ADDRES=============================================
==============================аналогічний головній сторінці========================*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.top-logo .multicolortext {
  color: var(--accent-color);
}

.conteiner-address {
  background-color: #2f303a;
}
.address-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 1);
}
.email-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.phone-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*==============================ADDRES=============================================*/
